# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#editor configs
.vscode/settings.json

# dependencies
**/node_modules/

# testing
tests/coverage/

#datasets
ai_model/data

# misc
**/.env

#cache
**/__pycache__/

*:Zone.Identifier
