# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/backend/api/node_modules
/frontend/node_modules
/ai_model/notebook/data
/ai_model/notebook/Logs
/ai_model/notebook/__pycache__
/ai_model/notebook/action.h5

/.pnp
.pnp.js

# testing
/tests/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*:Zone.Identifier
