# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#editor configs
.vscode/settings.json

# dependencies
**/node_modules/

# testing
tests/coverage/

#datasets
ai_model/data
ai_model/video_data
ai_model2/notebook/dataset
ai_model2/notebook/processed_dataset



# misc
**/.env

#cache
**/__pycache__/

*:Zone.Identifier

#logs
ai_model2/notebook/Logs

#uploads
backend/uploads